<nav class="central-column">
	<ul class="list-hz">
		<li><a href="/">Home</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/nonexistent-page">404 example</a></li>
	</ul>
</nav>
