<article class="item-12 card-teaser">
	<h1 class="section_title"><%= locals.title %></h1>
	<p><%- locals.content %></p>
</article>
<article class="item-12 card-teaser">
	<img src="<%- locals.current_user.images[0].url %>" alt="">
	<h2><%- locals.current_user.id %></h2>
</article>
