<article class="item-12 card-teaser">
	<h1 class="section_title"><%= locals.title %></h1>
	<p><%- locals.content %></p>
</article>
<script>
  (()=>{
    console.log(<%= locals.log %>)
  })()
</script>
